@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, body > div {
        --bg-hsl: 205 12% 16%;
        --bg-contrast-hsl: 205 12% 90%;
        --bg-contrast: hsl(var(--bg-contrast-hsl));
        --bg: hsl(var(--bg-hsl));
        --bg-primary-hsl: 205 93% 74%;
        --bg-primary: hsl(var(--bg-primary-hsl));
        @apply h-full bg-[var(--bg)] text-[var(--bg-contrast)] font-sans overflow-hidden;
        @apply font-sans;
    }

    *:focus-visible {
        @apply outline-none ring-2 ring-sky-400;
    }
}

@layer components {
    .d-blur {
        @apply !ring-0;
    }

    .d-html-word a:not(.custom-a-tag) {
        @apply text-blue-400 underline hover:text-blue-500 active:text-blue-300 italic;
    }

    .sr-only:not(:focus):not(:active) {
        @apply overflow-hidden absolute whitespace-nowrap;
        clip: rect(0 0 0 0); 
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
    }

    .focus-if-within {
        @apply focus-within:ring-2 focus-within:ring-sky-400;
    }
}
